SECRET_KEY=change-me-to-random-string
ENCRYPTION_KEY=change-me-fernet-key
PANEL_PASSWORD=admin
GITHUB_OWNER=zidanebarkat
GITHUB_REPO=8dca7ff25e47b8cc0e104b9f-tt
GITHUB_TOKEN=ghp_xxxxxxxxxxxx
PORT=5000
FLASK_DEBUG=0
